.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    margin-top: 40px;

    h2 {
        display: block;
        font-size: 14px;
    }

    h3 {
        display: block;
        font-size: 12px;
        margin-top: 40px;
    }

    section {
        display: flex;
        flex-direction: column;
        flex: 0 0 25%;
        height: 100%;
        box-sizing: border-box;
        padding: 0 20px;

        &__logo {
            img {
                width: 85px;
                height: 55px;
                object-fit: contain;
            }
        }

        &__navigation {
            margin-right: 20px;

            a {
                margin-right: 8px;
                text-decoration: none;
            }
        }
    }
}