.span_hero {
    display: flex;
    background: url("/images/arches.png"), linear-gradient(135deg, #f90462 0%, #f904dd 33%, #207cca 33%, #006ec9 66%, #f79651 66%, #f66722 100%);
    background-position: center;
    font-size: 12px;
    padding: 3px 20px;
    color: black;
}


.hero {
    height: calc(60vh);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-image: url("/images/banner-back.png");
    background-position-y: center;
    background-size: 80wv;
    background-color: rgba(0, 0, 0, 0.298);

    &__player {
        display: flex;
        height: 100%;
        flex: 0 0 50%;
        justify-content: center;
        align-items: center;
    }

    &__slider {
        display: flex;
        height: 100%;
        flex: 0 0 50%;
        justify-content: center;
        align-items: center;
    }
}