.content {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;

    // Section Title
    h2 {
        text-align: center;
        display: block;
        width: 100%;
    }

    &__featuredBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 80px;



        // Left and right side - shared styles
        &_left,
        &_right {
            flex: 0 0 50%;
            border: solid 5px transparent;
        }

        &_right {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

    }

    &__podcastBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
    }

    &__podcastBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
    }

    &__donateBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
    }

    &__residentsBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
    }

    &__friendsBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 80px;
    }
}