@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 100%;

    &__featuredBox {
        width: 100%;

        &_header {
            text-align: center;

            // Section Title
            h2 {
                position: relative;
                color: white;
                font-size: 36px;
                line-height: 1.5;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-weight: 300;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 10%;
                    transform: translateX(-50%);
                    width: 220px;
                    height: 2px;
                    background-image: linear-gradient(to right, rgba(255, 175, 25, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 175, 25, 0.6)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Cpath d='M1 3h1v1H1V3zm2-2h1v1H3V1z' fill='%23ff0000'/%3E%3C/svg%3E");
                    border-radius: 5px;
                    z-index: -1;
                }
            }

            h5 {
                font-size: 14px;
            }
        }

        &_wrapper {
            margin-top: 10px;
            padding: 0 10px;
            // gird of 2 equal columns
            display: grid;
            grid-template-columns: 40% 60%;
            justify-content: center;
            align-content: flex-start;
            align-items: flex-start;


            // Left and right side - shared styles
            &_left {
                display: flex;
            }

            &_right {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
            }
        }

    }

    &__podcastBox {
        &_header {
            margin-top: 40px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 36px;
                border-radius: 10px;
                z-index: -1;
            }

            &_title {
                font-size: 28px;
                width: max-content;
                font-weight: 400;
                padding: 0px 20px;
                margin-left: 15px;
                color: white;
                text-transform: uppercase;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    left: 50%;
                    bottom: 38%;
                    transform: translateX(-50%);
                    width: 120%;
                    height: 8px;
                    background-image: linear-gradient(to right, rgba(255, 175, 25, 0.6), rgba(0, 0, 0, 0.6), rgba(255, 175, 25, 0.6)), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4'%3E%3Cpath d='M1 3h1v1H1V3zm2-2h1v1H3V1z' fill='%23ff0000'/%3E%3C/svg%3E");
                    border-radius: 5px;
                    z-index: -1;
                }
            }

            h5 {
                font-size: 14px;
            }

            // &_link {
            //     position: relative;
            //     display: flex;
            //     align-items: center;
            //     width: max-content;
            //     padding: 4px 20px 3px 15px;
            //     font-size: 14px;
            //     line-height: 1;
            //     font-weight: 600;
            //     text-decoration: none;
            //     color: white;
            //     text-shadow: 0 0 3px black;
            //     margin-right: 10px;
            //     transition: all 0.3s ease-in-out;
            //     background-color: orange;
            //     border-radius: 5px;

            //     svg {
            //         margin-right: 5px;
            //     }

            //     &:hover {
            //         background-color: orange;
            //         text-shadow: none;
            //         color: black;
            //     }
            // }
        }

        &_podcasts {
            padding: 0 15px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr; // Three columns: the first and third are the same size, and the second is twice as large
            grid-template-rows: auto; // Three rows: the first and third fit their content, and the second is 100px tall
            gap: 15px;
            align-content: flex-start;
            padding-top: 20px;


            &_link {
                height: 240px;
                position: relative;
                text-decoration: none;
                overflow: hidden;

                img {
                    display: block;
                    width: 100%;
                    height: 170px;
                    border-radius: 6px;
                    object-position: center;
                    object-fit: cover;
                    transition: all 0.3s ease-in-out;
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
                }

                p {
                    color: #fff;
                    margin-top: 6px;
                    padding: 0 6px;
                    font-size: 16px;
                    line-height: 1.1;
                    display: -webkit-box; // Use webkit box model
                    -webkit-line-clamp: 2; // Limit to 2 lines
                    -webkit-box-orient: vertical; // Orient the content vertically
                    overflow: hidden; // Hide the overflow
                    text-overflow: ellipsis;
                    transition: all 0.3s ease-in-out;
                }

                &_author {
                    position: absolute;
                    bottom: 0;
                    margin-left: 5px;
                    font-size: 12px;
                    color: white;
                    border-radius: 3px;
                    background-color: orange;
                    text-shadow: 0 0 3px black;
                    line-height: 1.4;
                    padding: 0 10px;
                }

                &_tags {
                    position: absolute;
                    top: 140px;
                    left: 10px;
                    font-size: 12px;
                    color: white;
                    background-color: rgba(0, 0, 0, 0.5);
                    padding: 0 10px;
                }

                // &:hover img {
                //     filter: grayscale(0);
                // }

                &:hover p {
                    color: orange;
                }
            }

            &_linkLead {
                display: block;
                width: max-content;
                text-decoration: none;
                font-size: 14px;
                text-shadow: 0 0 3px black;
                background-color: orange;
                color: white;
                padding: 0 30px;
                margin: 0 auto;
                margin-top: -1px;
                clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
            }
        }

        &_articles {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            align-content: flex-start;
            background-color: rgba(0, 0, 0, 0.6);
            padding-top: 20px;

            h5 {
                font-size: 14px;
            }

            // &_linkLead {
            //     display: block;
            //     width: max-content;
            //     text-decoration: none;
            //     font-size: 14px;
            //     text-shadow: 0 0 3px black;
            //     background-color: #950EA8;
            //     color: white;
            //     padding: 0 30px;
            //     margin: 0 auto;
            //     margin-top: -1px;
            //     clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
            // }

            &_link {
                max-width: 413.3334px;
                width: 100%;
                height: 160px;
                border: solid 10px transparent;
                margin-bottom: 20px;
                display: flex;
                flex-direction: row;
                align-items: center;
                text-decoration: none;
                background-color: rgba(0, 0, 0, 0.8);
                box-shadow: inset 0 0 3px rgba(255, 255, 255, 0.6);
                border-radius: 16px;
                transition: all 0.3s;
                position: relative;

                &_category {
                    position: absolute;
                    // on top but aligned to middle horizontaly
                    top: 10px;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                    color: orange;
                    text-shadow: 0 0 3px black;
                    font-size: 12px;
                    color: white;
                    border-radius: 3px;
                    text-shadow: 0 0 3px black;
                    line-height: 1.4;
                    padding: 0 10px;
                }

                &_titles {
                    text-align: right;
                    overflow: hidden;
                    padding-left: 10px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    line-height: 1.2;
                    text-shadow: 0 0 4px black;
                    padding: 8px;
                    z-index: 100;
                    // clip-path: polygon(5% 0%, 100% 0%, 100% 100%, 5% 100%);
                    transition: all 0.4s ease-in-out;

                    h5 {
                        font-size: 16px;
                        font-weight: 400;
                        margin-bottom: 15px;
                    }

                    p {
                        font-size: 12px;
                        text-shadow: 0 0 4px black !important;
                    }
                }

                &_titles:hover {
                    transition: all 0.4s ease-in-out;
                    background-color: rgba(0, 0, 0, 0.7);
                }

                img {
                    position: absolute;
                    width: 90%;
                    height: 160px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 10px;
                    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
                    filter: brightness(0.8);
                    transition: all 0.4s ease-in-out;
                }

                &:hover img {
                    width: 100%;
                    clip-path: polygon(0 0, 100% 0%, 92% 100%, 0% 100%);
                    filter: brightness(1);
                }


                p {
                    color: white;
                    margin-left: 10px;
                }
            }
        }
    }

    &__donateContainer {
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        margin-top: 80px;
        background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url("/images/cta-back-2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-top: 5px ridge orange;
        border-bottom: 5px ridge orange;
        box-shadow: 0 0 60px 8px rgba(235, 186, 9, 0.3);

        div:first-of-type {
            width: 100%;
            height: 40px;
            background: linear-gradient(rgba(151, 108, 0, 0.6), rgba(0, 0, 0, 0)), url("/images/fake-brick.png");
            text-align: center;
        }

        &_content {
            width: 100%;
            text-align: center;
            margin-top: 40px;
            margin-bottom: 40px;

            h3 {
                z-index: 1;
                font-size: 26px;
                line-height: 1;
                margin: 10px 20px;
                font-size: 36px;
                // text-shadow: -1px 0 orange, 0 1px orange, 1px 0 orange, 0 -1px orange; // Change as needed
            }

            p {
                font-size: 16px;
                color: orange;
                line-height: 1.1;
                margin: 10px 20px 25px;
            }

            a {
                display: inline-block;
                text-decoration: none;
                border: none;
                width: 150px;
                font-size: 1.2rem;
                margin-right: 8px;
                text-shadow: 0 0 3px black;
                color: white;
                clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
                transition: all 0.3s ease-in-out;
            }

            &_learnMoreButton {
                background-color: orange;
            }

            &_ppButton {
                background-color: #009cde;

                &:hover {
                    background-color: #003087;
                }
            }

            &_ptButton {
                background-color: #f96854;

                &:hover {
                    background-color: #052d49;
                }
            }

        }


        &_ctaContainer {
            width: 100%;
            height: 40px;
            background: linear-gradient(rgba(0, 0, 0, 0), rgba(151, 108, 0, 0.6)), url("/images/fake-brick.png");
        }

    }

    &__residentsBox {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 80px;

        .slider {
            display: flex;
            overflow: hidden;
            width: 100%;
            margin-top: 40px;
            margin-bottom: 40px;
        }

        // styles for the slider are in globals.scss
    }
}