// variblas for colors
$color-primary: #b9c203;
$color-secondary: #000;
$color-tertiary: #fff;

:export {
  colorPrimary: $color-primary;
  colorSecondary: $color-secondary;
  colorTertiary: $color-tertiary;
}